#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  background-color: white;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 4px black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu{
  display: flex;
  align-items: center;
  gap: 80px;
}

h1{
  margin: 0 -10px;
  font-weight: 100;
  line-height: 1.3rem;
  font-size: 25px;
}

.icons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 0px;
}
